<%@tasks.each do |task|%>
  <p>
  <%=link_to 'ðŸ—‘ï¸', task_path(task), method: :delete %>
  <%=task.completed == true ? 'âœ…' : 'ðŸ˜…'%>
  <%=link_to(task.title, task_path(task.id))%>


  </p>
<%end%>

<br>
<%= link_to('New task', task_new_path) %>
<br>
